.animate-scale {
  animation: scale 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  will-change: transform;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
